In [2]:
# en el navegador de jupyter, abrir el notebook y ejecutar el siguiente cÃ³digo
# %pip install sqlalchemy

In [3]:
from sqlalchemy import create_engine,text
import pandas as pd
import sqlite3 as lite

engine = create_engine('sqlite:///../data/example_fts.db')

# connection to database
# conn = engine.connect('sqlite:///example_fts.db')

# consult 
def run_query(query:str):
    with engine.connect() as conn:
        # Check if the query is a modified query
        if query.strip().lower().startswith(('insert', 'update', 'delete','create')):
            # Execute queries as text
            conn.execute(text(query))
            # Commit the transaction
            conn.commit()
            return "Query executed successfully"
        else:
            res = conn.execute(text(query))
            result = pd.DataFrame(res.fetchall(),columns=res.keys())
            return result

In [4]:
# Crete query
create_table_query = """
    CREATE TABLE products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        product_price INTEGER
    );
"""

create_table = run_query(create_table_query)

OperationalError: (sqlite3.OperationalError) table products already exists
[SQL:
    CREATE TABLE products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        product_price INTEGER
    );
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
# Insert data 
insert_data_query = """
    INSERT INTO products (product_id, product_name, product_price) 
    VALUES 
                    (1, 'Portatil Acer 125', 3200000),
                    (2, 'Portatil Azus X28', 3499900),
                    (3, 'Portatil Acer 254', 1568742),
                    (4, 'Portatil HP L587', 2564789),
                    (5, 'MacBook 15PRO', 2500000),
                    (6, 'MacBook 16XT', 3859786),
                    (7, 'Impresora Canon 1245', 897520),
                    (8, 'Multifuncional Canon 1678', 1564230),
                    (9, 'Multifuncional Canon 4126', 2864250),
                    (10, 'Multifuncional Canon 1125', 1416000),
                    (11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700),
                    (12, 'GIGABYTE G6X 9KG 2024CORE i7', 5478222),
                    (13, 'LENOVO IP 3 14ALC6RYZ 3', 3584875),
                    (14, 'LENOVO IDEAPAD 1 15ALC7RYZ 5', 8423700),
                    (15, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 12916210),
                    (16, 'ASUS VIVOBOOK', 5423700),
                    (17, 'HP14 DQ5016LACORE i5', 6918700),
                    (18, 'HP 15 DY5008LACORE i7', 3423700),
                    (19, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 8228700),
                    (20, 'GIGABYTE G6X 9KG 2024 CORE i7', 4423700);
        
    """
run_query(insert_data_query)

'Query executed successfully'

In [6]:
query = "SELECT * FROM products"
show_data = run_query(query)
show_data

    product_id                          product_name  product_price
0            1                     Portatil Acer 125        3200000
1            2                     Portatil Azus X28        3499900
2            3                     Portatil Acer 254        1568742
3            4                      Portatil HP L587        2564789
4            5                         MacBook 15PRO        2500000
5            6                          MacBook 16XT        3859786
6            7                  Impresora Canon 1245         897520
7            8             Multifuncional Canon 1678        1564230
8            9             Multifuncional Canon 4126        2864250
9           10             Multifuncional Canon 1125        1416000
10          11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373        8423700
11          12          GIGABYTE G6X 9KG 2024CORE i7        5478222
12          13               LENOVO IP 3 14ALC6RYZ 3        3584875
13          14          LENOVO IDEAPAD 1 15ALC7RYZ 5        8423700
14          15    MSI THIN 15 B12UCX 2280XCO CORE i7       12916210
15          16                         ASUS VIVOBOOK        5423700
16          17                  HP14 DQ5016LACORE i5        6918700
17          18                 HP 15 DY5008LACORE i7        3423700
18          19    MSI THIN 15 B12UCX 2280XCO CORE i7        8228700
19          20         GIGABYTE G6X 9KG 2024 CORE i7        4423700

In [7]:
crete_catalog_query = """
    CREATE VIRTUAL TABLE catalog_products USING fts5(
        product_id,
        product_name,
        product_price
    )
"""

create_catalog = run_query(crete_catalog_query)

OperationalError: (sqlite3.OperationalError) table catalog_products already exists
[SQL:
    CREATE VIRTUAL TABLE catalog_products USING fts5(
        product_id,
        product_name,
        product_price
    )
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
insert_data_query_virtual_table = """
    INSERT INTO catalog_products(
        product_id,
        product_name,
        product_price
    ) SELECT product_id, product_name, product_price FROM products;
"""

insert_data_virtual = run_query(insert_data_query_virtual_table)

#### Show the virtual table

In [9]:
vista_query_virtual = "SELECT * FROM catalog_products"
vista_virtual = run_query(vista_query_virtual)
vista_virtual

    product_id                          product_name  product_price
0            1                       Laptop Acer 125            100
1            2                       Laptop Acer 135            200
2            3                     Laptop Lenovo 125            300
3            4                       Macbook Pro 145            400
4            5                     Impressora HP 155            500
5            6                         Laptop Dell 6            600
6            7                  Multifuncional Canon            700
7            8                          Printer HP 8            800
8            9                     Multifuncional HP            900
9           10                        Laptop Acer 10           1000
10           1                     Portatil Acer 125        3200000
11           2                     Portatil Azus X28        3499900
12           3                     Portatil Acer 254        1568742
13           4                      Portatil HP L587        2564789
14           5                         MacBook 15PRO        2500000
15           6                          MacBook 16XT        3859786
16           7                  Impresora Canon 1245         897520
17           8             Multifuncional Canon 1678        1564230
18           9             Multifuncional Canon 4126        2864250
19          10             Multifuncional Canon 1125        1416000
20          11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373        8423700
21          12          GIGABYTE G6X 9KG 2024CORE i7        5478222
22          13               LENOVO IP 3 14ALC6RYZ 3        3584875
23          14          LENOVO IDEAPAD 1 15ALC7RYZ 5        8423700
24          15    MSI THIN 15 B12UCX 2280XCO CORE i7       12916210
25          16                         ASUS VIVOBOOK        5423700
26          17                  HP14 DQ5016LACORE i5        6918700
27          18                 HP 15 DY5008LACORE i7        3423700
28          19    MSI THIN 15 B12UCX 2280XCO CORE i7        8228700
29          20         GIGABYTE G6X 9KG 2024 CORE i7        4423700

#### Create the index

In [12]:
create_fts_index_query = """
                            SELECT 
                                t.product_id,
                                t.product_name,
                                t.product_price
                            FROM products AS t
                            INNER JOIN 
                                catalog_products AS c
                            ON 
                                c.product_id = t.product_id
                            WHERE 
                                catalog_products MATCH '15'
                            ORDER BY 
                                bm25(catalog_products,0,10);

                        """
create_fts_index = run_query(create_fts_index_query)
create_fts_index

   product_id                        product_name  product_price
0          18               HP 15 DY5008LACORE i7        3423700
1          15  MSI THIN 15 B12UCX 2280XCO CORE i7       12916210
2          19  MSI THIN 15 B12UCX 2280XCO CORE i7        8228700